{% extends 'base.html.twig' %}

{% block title %} Aloitelaatikko | Home{% endblock %}

  {% block body %}
<div class="container mt-5">
<div class="jumbotron">
  <table class="table table-hover">
  <h1 class="badge badge-secondary p-3 mb-4">Aloite App</h1>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Aihe</th>
      <th scope="col">Kuvaus</th>
      <th scope="col">KirjausP채iv채</th>
      <th scope="col">Toiminnot</th>

    </tr>
  </thead>
  <tbody>
  {% for aloite in aloitet %}
    <tr>
      <th>{{ aloite.id}}</th>
      <td>{{ aloite.aihe}}</td>
      <td>{{ aloite.kuvaus}}</td>
      <td>{{ aloite.kirjauspvm|date("d/m/Y")}}</td>
      <td>
         <a href="{{ path('aloite_nayta',{id: aloite.id}) }}" class="btn btn-dark">N채yt채</a>
         <a href="{{ path('aloite_muokkaa',{id: aloite.id}) }}" class="btn btn-success">Muokkaa</a>
         <button poista-linkki= "{{ aloite.id }}" class="btn btn-danger poista-linkki">Poista</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
    </table>

</div>
</div>

{% endblock %}

{# {% block javascripts %}
  {{ parent() }}
  <script src="js/index.js"></script>
{% endblock %}  #}